.u-marginBottom30 {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .u-xs-paddingTop15 {
        padding-top: 15px;
    }
}

.u-paddingTop50 {
    padding-top: 50px;
}

.u-hide {
    display: none;
}

.u-paddingTop20 {
    padding-top: 20px;
}

.u-backgroundColorGray {
    background-color: #fafafa;
}

.u-textAlignCenter {
    text-align: center;
}

.u-cursorPointer {
    cursor: pointer;
}
